
body {
    background-color: #f4f7f6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    width: 1100px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* make sure round corner show up */
}

/* left image */
.login-image {
    flex: 3;
    position: relative;
}

.login-image img {
    width: 100%;
    height: 100%;
}

/* right side form */
.form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.form-wrapper h2 {
    font-size: 1.75rem;
    color: #333333;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 0.85rem;
    color: #666666;
    margin-bottom: 30px;
    font-weight: 500;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: #444444;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
}

.input-group input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.login-btn:hover {
    background-color: #4338ca;
}

.form-footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
    color: #666666;
}

.form-footer a {
    color: #4f46e5;
    text-decoration: none;
    font-weight: 500;
}

.form-footer a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .main-container {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .login-image {
        display: none;
    }

    .form-container {
        padding: 40px 20px;
    }
}